body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  h1 {
    text-align: center;
    padding: 20px;
  }
  
  input, button {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button.delete-btn {
    background-color: #f44336; 
    color: white;
    border: 10px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
    
  }
  
  button.delete-btn:hover {
    background-color: #d32f2f; /* Silme butonu hover rengi */
    
  }

  .icon {
    width: 20px;
    height: 20px;
    stroke: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
  }
  
  